<template>
  <div>
    <SideBar class="sidebar"/>

    <div v-if="mode === 'all'">
      <AllWorldMap class="worldMap"/>
    </div>

    <div v-if="mode === 'scientists'">
      <SciWorldMap class="worldMap"/>
    </div>

    <div v-if="mode === 'museums'">
      <MusWorldMap class="worldMap"/>
    </div>
  </div>
</template>

<script>
import SciWorldMap from "../components/Scientists/WorldMap";
import MusWorldMap from "../components/Museums/WorldMap";
import AllWorldMap from "../components/AllWorldMap";
import SideBar from "../components/SideBar";
import { mapGetters } from "vuex";

export default {
  name: 'MapView',
  
  components: {
    AllWorldMap,
    SciWorldMap,
    MusWorldMap,
    SideBar,
  },

  data() {
    return {
      helpOverlay: false
    }
  },

  computed: {
    ...mapGetters({
      mode: "options/getModeName"
    })
  }
}
</script>

<style>
.sidebar {
  z-index: 100;
  position: absolute;
  left: 4px;
  top: 4px;
}

.worldMap {
  height: 100vh;
}

.helpOverlay {
  color: white;
}
</style>
