<template>
    <v-card>
        <v-card-title v-if="type === 'add'">Add museum</v-card-title>
        <v-card-title v-if="type === 'edit'">Edit museum</v-card-title>
        <v-card-text>
            <v-form ref="form" v-model="formValid">
                <v-container>
                    <v-row align="center">
                        <v-col cols="2" class="text-center">
                            <v-avatar v-if="previewImg || value.image" size="70" @click="$refs.inputUpload.click()">
                                <v-img v-if="previewImg" :src="previewImg"></v-img>
                                <v-img v-if="value.image" :src="'http://localhost:4200' + value.image"></v-img>
                            </v-avatar>

                            <v-avatar v-else size="70" color="amber" @click="$refs.inputUpload.click()">
                                <span class="white--text headline">{{shortName}}</span>
                            </v-avatar>
                            <input v-show="false" ref="inputUpload" type="file" accept="image/*" name="image" @change="onFileChange">
                        </v-col>
                        <v-col cols="4">
                            <v-text-field :rules="nameRules" @input="handleInput" label="Name" v-model="value.name"></v-text-field>
                        </v-col>
                        <v-col cols="3">
                            <!-- <v-text-field :rules="nameRules" @input="handleInput" label="Location" v-model="value.location"></v-text-field> -->
                            <v-autocomplete 
                                @input="handleInput" 
                                label="Location" 
                                v-model="teleportPlace"
                                :placeholder="value.location"
                                :items="placeSuggestions"
                                item-text="matching_full_name"
                                return-object
                                @keyup="getPlaceSuggestions"
                                :search-input.sync="placeSearch"
                                hide-no-data
                                auto-select-first
                                allow-overflow
                            ></v-autocomplete>
                        </v-col>
                        <v-col cols="3">
                            <v-menu
                                ref="menu1"
                                v-model="datePicker1"
                                :close-on-content-click="false"
                                :return-value.sync="openingDate"
                                transition="scale-transition"
                                offset-y
                                min-width="150px"
                            >
                                <template v-slot:activator="{ on, attrs }">
                                <v-text-field
                                    v-model="openingDate"
                                    label="Museum opening date"
                                    readonly
                                    v-bind="attrs"
                                    v-on="on"
                                ></v-text-field>
                                </template>
                                <v-date-picker v-model="openingDate" no-title scrollable>
                                <v-spacer></v-spacer>
                                <v-btn text color="primary" @click="datePicker1 = false">Cancel</v-btn>
                                <v-btn text color="primary" @click="handleDateInput(openingDate, 1)">OK</v-btn>
                                </v-date-picker>
                            </v-menu>
                        </v-col>
                    </v-row>

                    <v-row align="center">
                        <v-col cols="10">
                            <v-text-field :rules="nameRules" @input="handleInput" label="Description" v-model="value.description"></v-text-field>
                        </v-col>
                        <v-col cols="2">
                            <v-checkbox @input="handleInput" label="Showcase" v-model="value.showcase"></v-checkbox>
                        </v-col>
                    </v-row>

                    <v-row v-if="value.showcase === true" align="center">
                        <v-col cols="4">
                            <v-autocomplete
                                @input="handleInput" 
                                label="Showcased scientist" 
                                v-model="showcasedScientist"
                                :placeholder="value.showcasedScientist.label"
                                :items="scientistSuggestions"
                                item-text="matching_full_name"
                                return-object
                                @keyup="getScientistSuggestions"
                                :search-input.sync="scientistSearch"
                                hide-no-data
                                auto-select-first
                                allow-overflow
                            ></v-autocomplete>
                        </v-col>
                        <v-spacer></v-spacer>
                        <v-col cols="3">
                            <v-menu
                                ref="menu2"
                                v-model="datePicker2"
                                :close-on-content-click="false"
                                :return-value.sync="showcaseStartDate"
                                transition="scale-transition"
                                offset-y
                                min-width="150px"
                            >
                                <template v-slot:activator="{ on, attrs }">
                                <v-text-field
                                    v-model="showcaseStartDate"
                                    label="Showcase start date"
                                    readonly
                                    v-bind="attrs"
                                    v-on="on"
                                ></v-text-field>
                                </template>
                                <v-date-picker v-model="showcaseStartDate" no-title scrollable>
                                <v-spacer></v-spacer>
                                <v-btn text color="primary" @click="datePicker2 = false">Cancel</v-btn>
                                <v-btn text color="primary" @click="handleDateInput(showcaseStartDate, 2)">OK</v-btn>
                                </v-date-picker>
                            </v-menu>
                        </v-col>
                        <v-col cols="3">
                            <v-menu
                                ref="menu3"
                                v-model="datePicker3"
                                :close-on-content-click="false"
                                :return-value.sync="showcaseEndDate"
                                transition="scale-transition"
                                offset-y
                                min-width="150px"
                            >
                                <template v-slot:activator="{ on, attrs }">
                                <v-text-field
                                    v-model="showcaseEndDate"
                                    label="Showcase end date"
                                    readonly
                                    v-bind="attrs"
                                    v-on="on"
                                ></v-text-field>
                                </template>
                                <v-date-picker v-model="showcaseEndDate" no-title scrollable>
                                <v-spacer></v-spacer>
                                <v-btn text color="primary" @click="datePicker3 = false">Cancel</v-btn>
                                <v-btn text color="primary" @click="handleDateInput(showcaseEndDate, 3)">OK</v-btn>
                                </v-date-picker>
                            </v-menu>
                        </v-col>
                    </v-row>

                    <v-row v-else style="height: 94px">
                        <v-col cols="12">
                        </v-col> 
                    </v-row>

                    <v-row v-if="type === 'add'">
                        <v-col>
                        </v-col>
                        <v-col></v-col>
                        <v-col>
                            <v-btn v-if="formValid" color="success" min-width="100%" @click="emitAdd()">Add</v-btn>
                            <v-btn v-else disabled min-width="100%">Add</v-btn>
                        </v-col>
                        <v-col>
                        <v-btn color="error" min-width="100%" @click="emitCancel()">Cancel</v-btn>
                        </v-col>  
                    </v-row>

                    <v-row v-if="type === 'edit'">
                        <v-col>
                        </v-col>
                        <v-col>
                            <v-dialog v-model="deleteDialog" width="50%">
                                <template v-slot:activator="{ on }">
                                    <v-btn color="red" min-width="100%" v-on="on">Delete</v-btn>
                                </template>
                                <v-card>
                                    <v-card-title>
                                        Delete {{value.name}}?
                                    </v-card-title>
                                    <v-card-actions class="text-center">
                                        <v-container>
                                            <v-row>
                                                <v-col>
                                                    <v-btn large color="red" @click="emitDelete()">Delete</v-btn>
                                                </v-col>
                                                <v-col>
                                                    <v-btn large color="grey" @click="deleteDialog = false">Cancel</v-btn>
                                                </v-col>
                                            </v-row>
                                        </v-container>
                                        
                                    </v-card-actions>
                                </v-card>
                            </v-dialog>
                            
                        </v-col>
                        <v-col>
                            <v-btn v-if="formValid" color="success" min-width="100%" @click="emitSave()">Save</v-btn>
                        </v-col>
                        <v-col>
                            <v-btn color="error" min-width="100%" @click="emitCancel()">Cancel</v-btn>
                        </v-col>  
                    </v-row>
                </v-container>
            </v-form>
        </v-card-text>
    </v-card>
</template>

<script>
import { mapGetters } from "vuex";
import moment from "moment";
import Vue from "vue";
export default {
    name: 'MuseumForm',

    props: ['type', 'value'],

    data() {
        return {
            previewImg: null,
            deleteDialog: false,
            formValid: false,
            datePicker1: false,
            datePicker2: false,
            datePicker3: false,
            openingDate: "",
            showcaseStartDate: "",
            showcaseEndDate: "",
            nameRules: [
                v => !!v || 'Required',
                v => /^[a-zA-zŠšĐđŽžČčĆć ]+$/.test(v) || 'Letters only'
            ],
            placeSuggestions: [],
            placeSearch: null,
            teleportPlace: null,
            showcasedScientist: null,
            scientistSearch: null,
            scientistSuggestions: [],
        }
    },

    watch: {
        async teleportPlace() {
            // Get lat and lng for selected location and save short name
            const { data } = await Vue.$axios.get(this.teleportPlace._links["city:item"].href);
            this.value.location = data.name;
            this.value.lat = data.location.latlon.latitude;
            this.value.lng = data.location.latlon.longitude;
        },
    },

    mounted() {
        this.openingDate = new Date(this.value.openingDate*1000).toISOString().slice(0, 10);
        this.showcaseStartDate = new Date(this.value.openingDate*1000).toISOString().slice(0, 10);
        this.showcaseEndDate = new Date(this.value.openingDate*1000).toISOString().slice(0, 10);
    },

    methods: {
        onFileChange(e) {
            const file = e.target.files[0];
            this.previewImg = URL.createObjectURL(file);
            this.value.imgToUpload = file;
            this.handleInput();
            this.value.image = null;
        },

        async getPlaceSuggestions() {
            let { data } = await Vue.$axios.get(`https://api.teleport.org/api/cities/?search=${this.placeSearch}`);
            this.placeSuggestions = data["_embedded"]["city:search-results"];
        },

        getScientistSuggestions() {
            this.scientistSuggestions = this.sciArray.forEach(element => {
                const label = element.label;
                if(label.toLowerCase().contains(this.scientistSearch)) {
                    return element;
                }
            });
        },

        handleInput () {
            this.$emit('input', this.value);
        },

        handleDateInput(dateValue, datePicker) {
            const date = new moment(dateValue, "YYYY-MM-DD").unix() + 86400;
            switch(datePicker) {
                case 1:
                    this.$refs.menu1.save(new Date(date*1000).toISOString().slice(0, 10));
                    this.value.openingDate = date;
                    break;
                case 2:
                    this.$refs.menu2.save(new Date(date*1000).toISOString().slice(0, 10));
                    this.value.showcaseStartDate = date;
                    break;
                case 3:
                    this.$refs.menu3.save(new Date(date*1000).toISOString().slice(0, 10));
                    this.value.showcaseEndDate = date;
                    break;
            }
            this.handleInput();
        },

        emitAdd() {
            if (this.formValid) {
                this.$emit('add');
                this.previewImg = null;
            }
        },

        emitDelete() {
            this.deleteDialog = false;
            this.$emit('delete');
            this.previewImg = null;
        },

        emitCancel() {
            this.$emit('cancel');
            this.previewImg = null;
            this.handleInput();
        },

        emitSave() {
            if (this.formValid) {
                this.$emit('save');
                this.previewImg = null;
            }
        }
    },

    computed: {
        ...mapGetters({
            sciArray: "scientists/getScientists"
        }),
        shortName() {
            let short = "";
            let words = this.value.name.split(" ");
            if (words.length == 1) {
                for (let i = 0; i < words[0].length; i++) {
                    short += words[0][i];
                    if (short.length == 4) break;
                }
            } else {
                for(let word of words) {
                    short += word[0];
                }
            }
            return short;
        }
  },
}
</script>

<style>
</style>
