<template>
  <v-card style="height: 100vh;">
    <v-card-title style="height: 17%;">
      <v-text-field v-model="search" label="Search Museums"/>
      <v-spacer/>
      <v-btn color="success" @click="openAdd()">
        <v-icon>mdi-plus</v-icon>
      </v-btn>

      <!-- Add scientist dialog -->
      <v-dialog v-model="addDialog" fullscreen transition="scale-transition" origin="top right">
        <MusForm ref="addForm" type="add" v-model="museum" @cancel="addDialog = false" @add="addMuseum()"/>
      </v-dialog>

      <!-- Edit scientist dialog -->
      <v-dialog v-model="editDialog" fullscreen transition="dialog-bottom-transition">
        <MusForm ref="editForm" type="edit" v-model="museum" @cancel="editDialog = false" @save="editMuseum()" @delete="deleteMuseum()"/>
      </v-dialog>
    </v-card-title>

    <v-card-text style="height: 85%;">
      <v-data-table
        :headers="headers"
        :items="musArray"
        :search="search"
        hide-default-footer
        disable-pagination
        fixed-header
        height="82vh"
        @click:row="openEdit"
        >
          <template #item.openingDate="{ item }">{{new Date(item.openingDate*1000).toISOString().slice(0, 10)}}</template>

          <template #item.showcase="{ item }">
            <v-icon v-if="item.showcase">mdi-calendar-check</v-icon>
          </template>
      </v-data-table>
    </v-card-text>

  </v-card>
</template>

<script>
import MusForm from "../Museums/Form";
import { mapActions, mapGetters } from "vuex";
import moment from "moment";
export default {
  name: 'MusTable',
  
  components: {
    MusForm
  },

  data: () => ({
    addDialog: false,
    editDialog: false,
    museum: {
      name: "",
      location: "",
      openingDate: new moment().unix(),
      showcase: false,
      description: "",
      showcaseStartDate: null,
      showcaseEndDate: null,
      lat: 47,
      lng: -1,
    },
    search: "",
    headers: [
      { text: "Name", value: "name" },
      { text: "Location", value: "location" },
      { text: "Opening date", value: "openingDate" },
      { text: "Showcase", value: "showcase" },
      { text: "Description", value: "description", align: " d-none" },
      { text: "Showcase start date", value: "showcaseStartDate", align: " d-none" },
      { text: "Showcase end date", value: "showcaseEndDate", align: " d-none" }
    ],
  }),
  methods: {
    ...mapActions({
      pullMuseums: "museums/pullMuseums",
      addAction: "museums/addMuseum",
      deleteAction: "museums/deleteMuseum",
      updateAction: "museums/updateMuseum"
    }),
  
    addMuseum() {
      this.addDialog = false;
      this.addAction(this.museum)
    },

    deleteMuseum() {
      this.editDialog = false;
      this.deleteAction(this.museum.id);
    },

    editMuseum() {
      this.editDialog = false;
      this.updateAction(this.museum);
    },

    openEdit(mus) {
      this.museum = Object.assign({}, mus)
      this.editDialog = true;
    },

    openAdd() {
      this.museum = {
        name: "",
        location: "",
        openingDate: new moment().unix(),
        showcase: false,
        description: "",
        showcaseStartDate: null,
        showcaseEndDate: null,
      }
      this.addDialog = true;
    }

  },

  computed: {
    ...mapGetters({
      musArray: "museums/getMuseums"
    })
  },

  mounted() {
    this.pullMuseums();
  }
}
</script>
