<template>
  <v-container class="pa-0 ma-0">

    <!-- Map for all museums -->
    <l-map v-if="viewMode === 'all'"
      style="height: 100%; width: 100%; z-index: 50;"
      :options="{ zoomControl: false }"
      :zoom="zoom"
      :center="center"
      @update:zoom="zoomUpdated"
      @update:center="centerUpdated"
      @update:bounds="boundsUpdated"
    >
      <l-tile-layer :url="url"></l-tile-layer>
      <!-- Render map markers for all museums -->
      <MusMapMarker v-for="(value, index) in museums" 
        :key="index" 
        v-model="museums[index]"
        :arrIndex="index"
        @edit="openEdit"
        @moved="updateAction"
        @focused="focusMuseum"
        draggable
        autopan
        ></MusMapmarker>
    </l-map>

    <!-- Map for focused museum and all scientists -->
    <l-map v-if="viewMode === 'one'"
      style="height: 100%; width: 100%; z-index: 50;"
      :options="{ zoomControl: false }"
      :zoom="zoom"
      :center="center"
      @update:zoom="zoomUpdated"
      @update:center="centerUpdated"
      @update:bounds="boundsUpdated"
    >
      <l-tile-layer :url="url"></l-tile-layer>
      <!-- Render map marker for focused museum -->
      <MusMapMarker
        v-model="museums[focusedIndex]"
        :arrIndex="focusedIndex"
        @edit="openEdit"
        @moved="updateAction"
        ></MusMapmarker>
      <!-- Render map markers for all scientists -->
      <SciMapMarker v-for="(value, index) in scientists" 
        :key="index" 
        v-model="scientists[index]"
        :arrIndex="index"
        @click="updateLink"
        ></SciMapmarker>
      
      <l-polyline
        v-if="museums[focusedIndex].showcasedScientist"
        :lat-lngs="focusedLatlngs"
        color="green"
        ></l-polyline>
    </l-map>

    <!-- Add museum button -->
    <v-btn class="upperRight" color="success" @click="openAdd">
      <v-icon>mdi-plus</v-icon>
    </v-btn>

    <!-- Add museum dialog -->
    <v-dialog style="z-index: 1000;" v-model="addDialog" fullscreen transition="scale-transition" origin="top right">
      <MusForm ref="addForm" type="add" v-model="openMuseum" @cancel="addDialog = false" @add="addMuseum"/>
    </v-dialog>

    <!-- Edit museum dialog -->
    <v-dialog style="z-index: 1000;" v-model="editDialog" fullscreen transition="dialog-bottom-transition">
      <MusForm ref="editForm" type="edit" v-model="openMuseum" @cancel="editDialog = false" @save="editMuseum" @delete="deleteMuseum"/>
    </v-dialog>

    <!-- Museums world map help overlay -->
    <v-overlay
    v-if="viewMode === 'all'"
    :opacity="0.9"
    v-model="helpOverlay"
    z-index="1000"
    >
      <MusHelpMap @okClick="helpOverlay = false"/>
    </v-overlay>

    <!-- Museums world map help overlay -->
    <v-overlay
    v-if="viewMode === 'one'"
    :opacity="0.9"
    v-model="helpOverlay"
    z-index="1000"
    >
      <MusHelpMapOne @okClick="helpOverlay = false"/>
    </v-overlay>
  </v-container>
</template>

<script>
import { LMap, LTileLayer, LPolyline } from 'vue2-leaflet';
import MusForm from "./Form";
import MusMapMarker from "./MapMarker";
import SciMapMarker from "../Scientists/MapMarker";
import { mapActions, mapGetters, mapMutations } from  "vuex";
import moment from "moment";
import MusHelpMap from "./HelpMap";
import MusHelpMapOne from "./HelpMapOne";
export default {
  name: "MusWorldMap",

  components: {
    LMap,
    LTileLayer,
    MusForm,
    MusMapMarker,
    SciMapMarker,
    LPolyline,
    MusHelpMap,
    MusHelpMapOne
  },

  data () {
    return {
      url: 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
      zoom: 3,
      center: [47.413220, -1.219482],
      marker: [47.413220, -1.219482],
      bounds: null,
      addDialog: false,
      editDialog: false,

      openMuseum: {},
      focusedIndex: null,
      viewMode: "all",
      helpOverlay: false
    };
  },

  mounted() {
    this.setSidebar( 
      [
        { icon: "mdi-help", click: this.showHelp, color: "white" },
        "modeToggle",
        { icon: "mdi-table", to: "/table", color: "light-blue" }
      ]
    );
    this.pullMuseums();
    this.pullScientists();
  },

 methods: {
   showHelp() {
     this.helpOverlay = true;
   },
    ...mapActions({
      pullScientists: "scientists/pullScientists",
      pullMuseums: "museums/pullMuseums",
      addAction: "museums/addMuseum",
      deleteAction: "museums/deleteMuseum",
      updateAction: "museums/updateMuseum",
      updateLinkAction: "museums/updateLink",
      pullOneMuseum: "museums/pullOne",
      pullOneScientist: "scientists/pullOne"
    }),

    ...mapMutations({
      setSidebar: "sidebar/setButtons"
    }),

    zoomUpdated(zoom) {
      this.zoom = zoom;
    },
    centerUpdated(center) {
      this.center = center;
    },
    boundsUpdated(bounds) {
      this.bounds = bounds;
    },

    async updateLink(clickedScientist) {
      let newScientist = clickedScientist;
      let focusedMuseum = this.museums[this.focusedIndex];
      let oldScientist = focusedMuseum.showcasedScientist;

      let museumId = focusedMuseum.id;
      let scientistId = newScientist.id;
      if (oldScientist) {
        if (oldScientist.id == newScientist.id) {
          // Delete the link
          scientistId = null;
        }
      }

      // Update or make the link
      await this.updateLinkAction({
        museumId,
        scientistId
      });

      // Refresh all
      if (oldScientist) {
        await this.pullOneScientist(oldScientist.id);
      }
      await this.pullOneScientist(newScientist.id);
      await this.pullOneMuseum(focusedMuseum.id);
      if (clickedScientist.museum) {
        await this.pullOneMuseum(clickedScientist.museum.id);
      }
    },

    addMuseum() {
      this.addDialog = false;
      this.addAction(this.openMuseum)
    },

    deleteMuseum() {
      this.editDialog = false;
      this.deleteAction(this.openMuseum.id);
    },

    editMuseum() {
      this.editDialog = false;
      this.updateAction(this.openMuseum);
    },

    openEdit(musIndex) {
      this.openMuseum = Object.assign({}, this.museums[musIndex]);
      this.editDialog = true;
    },

    openAdd() {
      this.openMuseum = {
        name: "",
        location: "",
        openingDate: new moment().unix(),
        description: "",
        showcasedScientistId: null,
        showcase: false,
        showcaseStartDate: null,
        showcaseEndDate: null,
        lat: 47,
        lng: -1,
      }
      this.addDialog = true;
    },

    focusMuseum(arrIndex) {
      this.showOne(arrIndex);
      this.setSidebar([
        { icon: "mdi-help", click: this.showHelp, color: "white" },
        { icon: "mdi-bank", color: "yellow", click: this.showAll }
      ]);
    },

    showAll(){
      this.viewMode = "all";
      this.setSidebar([
        { icon: "mdi-help", click: this.showHelp, color: "white" },
        "modeToggle",
        { icon: "mdi-table", to: "/table", color: "light-blue" }
      ]);
    },

    showOne(index) {
      this.viewMode = "one";
      this.focusedIndex = index;
    },
 },

  computed: {
    ...mapGetters({
      museums: "museums/getMuseums",
      scientists: "scientists/getScientists",
      modeIcon: "options/modeIcon"
    }),

    focusedLatlngs() {
      if(this.museums[this.focusedIndex].showcasedScientist) {
        //alert("Good lat-lng")
        return [
          [this.museums[this.focusedIndex].lat, this.museums[this.focusedIndex].lng],
          [this.museums[this.focusedIndex].showcasedScientist.POBLat, this.museums[this.focusedIndex].showcasedScientist.POBLng]
        ]
      } else {
        //alert("Bad lat-lng")
        return []
      }
    }
  }
}
</script>

<style>
.upperRight {
  z-index: 100; 
  position: absolute; 
  top: 4px; 
  right: 4px;
}
</style>