<template>
  <v-container fluid class="helpOverlay text-center">
    <v-row>
      <v-col>
        <h1>Scientists focused map view</h1>
      </v-col>
    </v-row>

    <v-row>
      <v-col>

      </v-col>
      <v-col cols="7">
        <div class="text-left mb-3">
          One focused scientist and all museums are shown here.
        </div>

        <div class="text-left mb-3">
          <span style="color: orange">Click</span> on a museum marker to connect this scientist to it.
        </div>

        <div class="text-left mb-3">
          <span style="color: orange">Click</span> on the museum marker this scientist
          is currently connected to to remove the connection.
        </div>

        <div class="text-left mb-3">
          Use the red <v-icon style="background-color: red;">mdi-account</v-icon> button
          in the upper left corner to return to scientists map view.
        </div>
      </v-col>
      <v-col>

      </v-col>
    </v-row>

    <v-row>
      <v-col>
        <v-btn color="primary" @click="$emit('okClick')">OK</v-btn>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  name: 'SciHelpMap',

  computed: {
    ...mapGetters({
      modeIcon: "options/getModeIcon"
    })
  }
}
</script>
