<template>
  <v-container fluid class="helpOverlay text-center">
    <v-row>
      <v-col>
        <h1>Scientists map view</h1>
      </v-col>
    </v-row>

    <v-row>
      <v-col>

      </v-col>
      <v-col cols="7">
        <div class="text-left mb-5">
          All scientists in the system are shown here.
        </div>

        <div class="text-left mb-5">
          Use the green <v-icon style="background-color: green;">mdi-plus</v-icon> button in the upper right corner
          to add a new scientist.
        </div>

        <div class="text-left mb-5">
          <span style="color: orange;">Drag</span> one of the map markers to move a scientist's birthplace.
        </div>

        <div class="text-left mb-5">
          <span style="color: orange;">Double click</span> on a scientist to attach them to a museum.
        </div>

        <div class="text-left">
          Use the blue <v-icon style="background-color: blue;">mdi-table</v-icon> button
          in the upper left corner to open the table view.
        </div>
      </v-col>
      <v-col>

      </v-col>
    </v-row>

    <v-row>
      <v-col>
        <v-btn color="primary" @click="$emit('okClick')">OK</v-btn>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  name: 'SciHelpMap',

  computed: {
    ...mapGetters({
      modeIcon: "options/getModeIcon"
    })
  }
}
</script>
