<template>
    <v-card>
        
        <v-card-title>
            Inventions
            <v-spacer></v-spacer>
            <v-btn class="topRight" color="success" @click="addInvention()">
                <v-icon>mdi-plus</v-icon>
            </v-btn>
            </v-card-title>
        <v-card-text>
            <v-container>
                <v-row>
                    <v-col>
                        <v-data-table
                            :items="value"
                            :headers="headers"
                            hide-default-footer
                            hide-default-header
                            disable-pagination
                            height="55vh"
                            >
                            <template v-slot:item.name="props">
                                <v-edit-dialog
                                ref="editDialog"
                                :return-value.sync="props.item.name"
                                @open="showDeleteBtn(props.item.id)"
                                @close="hideDeleteBtn"
                                > 
                                {{ props.item.name }}
                                
                                <template v-slot:input>
                                    <v-text-field
                                    v-model="props.item.name"
                                    label="Edit"
                                    single-line
                                    ></v-text-field>
                                </template>
                                </v-edit-dialog>
                            </template>
                        </v-data-table>
                    </v-col>
                </v-row>

                <v-row justify="end">
                    <v-col v-if="deleteBtn" cols="4">
                        <v-btn color="error" min-width="100%" @click="emitDelete">Delete</v-btn>
                    </v-col>

                    <v-col cols="2">
                        <v-btn color="amber" min-width="100%" @click="emitClose">OK</v-btn>
                    </v-col>
                </v-row>
            </v-container>
        </v-card-text>
    </v-card>
</template>

<script>

export default {
    name: 'InventionsForm',

    props: ['value'],

    data() {
        return {
            headers: [
                { text: "Name", value: "name" },
            ],
            deleteBtn: false,
            focusedId: null
        }
    },

    methods: {
        handleInput () {
            this.$emit('input', this.value);
        },

        emitClose() {
            this.$emit('close');
            this.handleInput();
        },

        emitDelete() {
            this.$emit('delete', this.focusedId);
            this.deleteBtn = false;
        },

        addInvention() {
            this.value.push({
                name: "New invention"
            });
        },

        showDeleteBtn(id) {
            this.focusedId = id;
            this.deleteBtn = true;
        },

        hideDeleteBtn() {
            this.deleteBtn = false;
        }
    }
}
</script>

<style>
</style>
