<template>
    <l-marker
        ref="marker" 
        :lat-lng.sync="latLng"
        @move="updateLatLng"
        @moveend="emitMoved"
        @dblclick="emitFocused"
        @click="emitClicked"
        :draggable="draggable"
        :autopan="autopan"
        >
        
        <l-icon :icon-anchor="[30, 60]">
            <img class="sciMarkerPin" src="./sciMarker.png" width="60" height="60">
            <img v-if="scientist.image" class="sciMarkerAvatar" :src="'http://localhost:4200' + scientist.image" width="60" height="60">
            <img v-else class="sciMarkerAvatar" src="./avatar.png" width="60" height="60">
            <div class="sciLabelBG"></div>
            <div class="sciLabelTxt">{{scientist.label}}</div>
        </l-icon>
        
    </l-marker>
</template>

<script>
import { LMarker, LIcon } from 'vue2-leaflet';
export default {
    name: "SciMapMarker",

    props: ["value", "arrIndex", "draggable", "autopan"],

    components: {
        LMarker,
        LIcon
    },

    data () {
        return {
            scientist: this.value,
            latLng: { 
                lat: this.value.POBLat,
                lng: this.value.POBLng 
            }
        };
    },

    methods: {
        emitEdit() {
            // scientist array index is used to properly 
            // update edit dialog fields next time it is opened
            this.$emit('edit', this.arrIndex);
        },

        updateLatLng(e) {
            this.scientist.POBLat = e.latlng.lat;
            this.scientist.POBLng = e.latlng.lng;
            // v-model needs input to fire off
            this.$emit('input', this.scientist);
        },

        emitMoved() {
            // moved is for updating the scientist in the db
            this.$emit('moved', this.scientist);
        },

        emitFocused() {
            this.$emit('focused', this.arrIndex);
        },
        
        emitClicked() {
            this.$emit('click', this.scientist)
        }
    }

}
</script>

<style>
.sciMarkerPin {
    position: absolute;
    z-index: 500;
}

.sciMarkerAvatar {
    position: absolute;
    left: 0px;
    top: -40px;
    z-index: 501;
    border-radius: 50%;
}

.sciLabelBG {
    position: absolute;
    width: 35px;
    height: 20px;
    left: 13px;
    top: 15px;
    border-radius: 30%;
    background-color: white;
    z-index: 502;
}

.sciLabelTxt {
    position: absolute;
    width: 35px;
    height: 20px;
    left: 15px;
    top: 15px;
    z-index: 503;
}
</style>