<template>
  <v-container class="pa-0 ma-0">

    <!-- Map for all scientists and museums -->
    <l-map
      style="height: 100%; width: 100%; z-index: 50;"
      :options="{ zoomControl: false }"
      :zoom="zoom"
      :center="center"
      @update:zoom="zoomUpdated"
      @update:center="centerUpdated"
      @update:bounds="boundsUpdated"
    >
      <l-tile-layer :url="url"></l-tile-layer>
      <!-- Render map markers for all scientists -->
      <SciMapMarker v-for="(value, index) in scientists" 
        :key="'sci' + index" 
        v-model="scientists[index]"
        :arrIndex="index"
        @moved="updateScientist"
        draggable
        autopan
        ></SciMapmarker>
      
      <!-- Render map markers for all museums -->
      <MusMapMarker v-for="(value, index) in museums" 
        :key="'mus' + index" 
        v-model="museums[index]"
        :arrIndex="index"
        @moved="updateMuseum"
        draggable
        autopan
        ></MusMapmarker>
      
      <!-- Render lines for scientist-museum relationships -->
      <l-polyline v-for="(value, index) in scientists" 
        :key="'line' + index"
        :lat-lngs="getLatLngs(value)"
        color="green"
      ></l-polyline>
    </l-map>

    <!-- All world map help overlay -->
    <v-overlay
    :opacity="0.9"
    v-model="helpOverlay"
    z-index="1000"
    >
      <AllHelpMap @okClick="helpOverlay = false"/>
    </v-overlay>
    
  </v-container>
</template>

<script>
import { LMap, LTileLayer, LPolyline } from 'vue2-leaflet';
import SciMapMarker from "./Scientists/MapMarker";
import MusMapMarker from "./Museums/MapMarker";
import AllHelpMap from "../components/AllHelpMap";
import { mapActions, mapGetters, mapMutations } from  "vuex";
export default {
  name: "AllWorldMap",

  components: {
    LMap,
    LTileLayer,
    SciMapMarker,
    MusMapMarker,
    LPolyline,
    AllHelpMap
  },

  data () {
    return {
      url: 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
      zoom: 3,
      center: [47.413220, -1.219482],
      bounds: null,
      helpOverlay: false
    };
  },

  mounted() {
    this.$store.commit("sidebar/setButtons", 
      [
        { icon: "mdi-help", click: this.showHelp, color: "white" },
        "modeToggle",
      ]
    );
    this.pullScientists();
    this.pullMuseums();
  },

  methods: {
    showHelp() {
      this.helpOverlay = true;
    },

    ...mapActions({
      pullScientists: "scientists/pullScientists",
      pullMuseums: "museums/pullMuseums",
      updateScientist: "scientists/updateScientist",
      updateMuseum: "museums/updateMuseum"
    }),

    ...mapMutations({
      setSidebar: "sidebar/setButtons"
    }),

    zoomUpdated (zoom) {
      this.zoom = zoom;
    },
    centerUpdated (center) {
      this.center = center;
    },
    boundsUpdated (bounds) {
      this.bounds = bounds;
    },

    getLatLngs(scientist) {
      if (scientist.museum) {
        let museum = this.museums.find(e => e.id === scientist.museum.id);
        return [
          [scientist.POBLat, scientist.POBLng],
          [museum.lat, museum.lng]
        ];
      } else {
        return [];
      }
    }
  },

  computed: {
    ...mapGetters({
      scientists: "scientists/getScientists",
      museums: "museums/getMuseums",
      modeIcon: "options/modeIcon"
    })
  }
}
</script>

<style>
.upperRight {
  z-index: 100; 
  position: absolute; 
  top: 4px; 
  right: 4px;
}
</style>